<%= render 'search-form' %>

<% if request.post? %>
  <div id="photos">
    <%= render 'shared/pagination' %>
    <%= render 'shared/index' %>
    <%= render 'shared/pagination' %>
  </div>
<% end %>
