/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.content {
  margin-top: 1em;
}

p.err {
  color: coral;
}

.pagination li,
.pagination form {
  display: inline;
}

.image-box {
  display: inline-block;
  position: relative;
}

.lower-box-clickable {
  background-color: rgba(1,1,1,0.1);
  bottom: 0;
  left: 0;
  height: 5em;
  position: absolute;
  width: 100%;
}

.hide {
  display: none;
}

/* flash */
.alert,
.error,
.notice,
.success {
  padding:.8em 0;
  margin:0 0 2px 0;
  border:2px solid #ddd;
  font-size:1.6em;
  text-align:center;
}

.error {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.notice {
  background:#FFF6BF;
  color:#514721;
  border-color:#FFD324;
}

.success {
  background:#DDFCD5;
  color:#000;
  border-color:#44A815;
}

.alert {
  background:#FBE3E4;
  color:#8a1f11;
  border-color:#FBC2C4;
}

.error a {
  color:#8a1f11;
}

.notice a {
  color:#514721;
}

.success a {
  color:#264409;
}

.alert a {
  color:#8a1f11;
}
